/***** RESET *******/
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/****** FONTS *******/

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #cecece;
  text-align: center;
  padding: 2rem;
}

h2 {
  font-family: "Arimo", sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  color: #110e0e;
  text-align: center;
  margin-bottom: 10px;
  padding: 1rem;
}

h3 {
  font-family: "Arimo", sans-serif;
  color: #110e0e;
  font-size: 1.2rem;
  margin-top: 15px;
}

p {
  font-family: "Arimo", sans-serif;
  color: #110e0e;
  font-size: 1.2rem;
  max-width: 65ch;
}

a {
  font-family: "Arimo", sans-serif;
  color: #110e0e;
}

/****** COLORS *******/
body {
  background-color: #110e0e;
}

/********* Index *********/

.categories_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 15px 0;
}

.index_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px 15px;
  background-color: #cecece;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
}

.index_button:hover {
  border: 2px solid white;
  transform: scale(0.98);
  background-color: transparent;
  color: white;
}

/********** Product List **********/
.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 1rem;
  background-color: #cecece;
  position: relative;
}

.price {
  padding-bottom: 1rem;
}

.card img {
  object-fit: cover;
}

.product-gallery {
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 2rem;
  padding: 4rem;
}

.button_container {
  padding-bottom: 1rem;
}

.card_button {
  border: 1px solid black;
  background-color: rgb(37, 37, 37);
  padding: 1rem;
  color: rgb(216, 216, 216);
  text-decoration: none;
}

.card_button:hover {
  background-color: rgb(216, 216, 216);
  transform: scale(1.05);
  color: rgb(37, 37, 37);
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.brand {
  grid-column: 2 / 3;
}
/*********** Product Page **********/

.product_info_grid {
  background-color: #cecece;
  margin: 3rem 3rem;
}

.product_imgs {
  border: 4px solid black;
  display: block;
  cursor: pointer;
}

.primary_img {
  padding: 1rem;
}

.product_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.product_info p {
  font-size: 16px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 1rem;
}

.availeble {
  color: green;
}

.soldout {
  color: red;
}

/********* SOLD OUT **********/
.card.sold-out img {
  opacity: 0.3;
}

.card.sold-out .card_button {
  opacity: 0.3;
  cursor: not-allowed;
}

.card.sold-out .price .new_price {
  display: none;
}

.SoldOutText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.5rem;
  font-weight: bold;
  color: black;

  z-index: 10;
}
/**********INSTOCK**********/

.InStock .hide {
  display: none;
}
/********** ON SALE **********/
.card.on-sale .price {
  text-decoration: line-through;
  color: red;
}

.card.on-sale .new_price {
  display: block;
  color: green;
  font-weight: bold;
  text-align: right;
}

/********** MEDIA QUERIES **********/

@media (min-width: 800px) {
  /************ FONTS ************/

  h2 {
    font-size: 2.2rem;
  }

  /********* Index *********/

  .categories {
    max-width: 800px;
    margin: 0 auto;
  }

  .categories_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }

  .index_button {
    width: 100%;
    font-size: 2rem;
  }

  /********** Product List **********/

  .container {
    margin: 0 auto;
  }

  .product-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;

    gap: 2rem;
  }

  .card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
  }

  .card_button {
    padding: 0.5rem;
    font-size: 1rem;
  }
  /********** Product Page **********/

  .product_info_grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;

    gap: 20px;
    align-items: start;

    margin: 3rem 3rem;
    padding: 40px;
    padding-bottom: 40px;
  }

  .primary_img {
    grid-column: 1 / 2;

    padding: 0;
  }

  .product_info {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-items: start;
  }

  /********** TEKST ***********/
  h2 {
    grid-column: 1 / 2;

    text-align: left;

    margin-bottom: 10px;
  }

  .product_info p {
    margin: 0px;
  }

  /********* BUTTONS ***********/
  .reserve_btn {
    font-size: 1rem;
    padding: 10px 22px;
  }
}
